.app {
  padding: 4rem;
}

.logo {
  width: 2rem;
  height: auto;
}

.menu {
  display: flex;
  margin: 2rem 0;
  padding: 0;
}

.menu li {
  list-style: none;
  margin-right: 2rem;
}

.menu li a {
  display: block;
  color: #767676;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.menu li a.active {
  color: #fff;
  border-bottom: 2px solid #009de0;
}

.addPlaylist {
  margin-top: 16px;
  margin-bottom: 16px; /* Add margin-bottom */
  display: flex;
  align-items: center;
}

.addPlaylist input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  max-width: 300px; /* Limit the width */
}

.addPlaylist button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 120px; /* Limit the width */
}

.addPlaylist button:hover {
  background-color: #45a049;
}