.trackRow {
  display: flex;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid #333;
  padding: 0 4rem;
}

.trackRow:last-child {
  border-bottom: none;
}

.trackRow:hover {
  background-color: rgba(255,255,255,.06667);
}

.trackTitle {
  font-weight: 600;
}

.trackArtist {
  color: #767676;
}

.actionButton {
  margin-left: auto;
}

.playlistRow {
  padding: .25rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}