.createPlaylistForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createButton {
  border: 1px solid #333;
  font-weight: 600;
  color: #fff;
  background-color: #333333;
  padding: 1rem 2rem;
  cursor: pointer;
}

.cancelButton {
  border: 1px solid #333;
  font-weight: 600;
  color: #fff;
  background-color: #333333;
  padding: 1rem 2rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
}

input {
  padding: .5rem 1rem;
  background-color: #767676;
  border: 1px solid #767676;
}