.trackRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  min-height: 3rem;
  border-bottom: 1px solid #333;
  color: #767676;
  padding: 0 0.75rem;
}

.trackInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.trackRow:last-child {
  border-bottom: none;
}

.trackTitle {
  font-weight: 600;
  color: #eee;
}

.trackArtist {
  color: #767676;
}

.trackButtons {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.trackButtons button {
  background: none;
  border: 1px solid #767676;
  color: #767676;
  border-radius: 50%;
  padding: 0.25rem 0.55rem;
}

.trackButtons button:hover {
  border: 1px solid #eee;
  color: #eee;
  cursor: pointer;
}