.playlistContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
    height: 100%;
}

.playlistMenu {
    list-style-type: none;
    grid-column: 1 / 2;
}

.playlistItem__container {
    padding: 20px 0;
    border-bottom: thin solid grey;
}

.playlistItem__title {
    font-weight: 600;
}

.playlistItem__subtitle {
    font-size: 12px;
    color: #767676;
}

.playlistItem__active {
    color: #1db954;
}

.playlistTracks {
    grid-column: 2 / 3;
    overflow-y: scroll;
    height: 100%;
}