.playlistHeaderMetadata span {
  color: var(--text-color-inactive);
  font-size: smaller;
}

.playlistHeaderMetadata h2 {
  color: var(--text-color);
  font-size: 24px;
  margin: 0;
}

.playlistHeaderButtons {
  display: flex;
  gap: 0.5em;
}

.playlistHeaderButtons button {
  text-transform: uppercase;
  border: 1px solid var(--text-color-inactive);
  color: var(--text-color-inactive);
  background-color: transparent;
  padding: 0.25em 2em;
  cursor: pointer;
}

.playlistHeaderButtons button:hover {
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
