.playlistRow {
  display: flex;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid #333;
}

.playlistRow:last-child {
  border-bottom: none;
}

.playlistTitle {
  font-weight: 600;
}

.playlistSubtitle {
  color: #767676;
}
